/* About Me */

.underline2{
  height: 10px;
  background-color: #6930c3;
  width: 30%;
  margin-bottom: 30px;
}

.Photo{
  height: auto;
  width: 400px;
  margin: 20px;
  float: right;
  margin-bottom: 0;
}

.space{
  width: auto;
  height: 20px;
}

.Secret{
  margin-top: 100px;
}

.Secret button{

}
