footer{
    background-color: #283618ff;
    position: relative;
    z-index: 1;
    width: 100%;
    cursor: default;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.25);
}

footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fefae0ff;
    font-size: 2.2vw;
    padding-left: 20px;
    margin: 10px;
}

.socials{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}

.socials img{
    width: 45px;
    height: 45px;
    padding: 2px;
    margin-top: 4px;
}