#questions{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.question{

}

#name_underline{
    width: 70vw;
    height: 5px;
    background: linear-gradient(to right, transparent, #283618ff 10%);
    filter: blur(.3px);
    border-radius: 25px;
    float: right;
    margin: 5px 0;
    position: relative;
}

#airplane{
    position: relative;
    width: 60px;
    height: auto;
    float: right;
    top: -22.5px;
    left: -50px;
}