/* About Me */

.headshot img{
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  float: right;
  width: 20vw;
  height: auto;
  border: 1px solid #0E0C0A;
  box-shadow: 0 0 10px 4px #0E0C0A;
}