/* Landing Page */

.LandingPageLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

.Greeting *{
  text-align: center;
}

.WelcomeBackdrop{
  margin: auto;
  width: 65%;
  height: auto;
}

.Greeting h1{
  padding: 10px;
  font-family: 'Cinzel', serif;
}

.Greeting p{
  padding: 5px;
}
