*, *:before, *:after{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

main{
  background-color: #fefae0ff;
  height: 100vh;
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
}

h1{
  margin: 0;
  text-align: center;
  padding-top: 8vh;
  font-size: 3.5vw;
}

h2{
  margin: 0;
  font-size: 2vw;
}

/* Hide Scroll Bar */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() { html { overflow: hidden;} }