/* Dropdown */

.Dropdown{
  display: none;
  position: fixed;
  margin: 2%;
  background-color: lightgray;
  z-index: 1;
  height: 104px;
  /* margin-top: 200px; */
}
.DropdownContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 104px;
  font-size: 20px;
  width: auto;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;

}
.DropdownContent a{
 text-decoration: none;
 color: #6930c3;
 margin: 10px;
}
.NavItems:hover{
  color: black;
}
.DFiller{
  float: left;
  height: 104px;
  width: 90px;
  background: #252525;
  margin-right: 30px;
}
.Links{
}
/* Hex */

.Hex{
  position: fixed;
  margin: 2%;
  z-index: 10;
}
.HexBase{
}
.Hex1{
  float: left;
  border-right: 30px solid black;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
.Hex2{
  float: left;
  width: 60px;
  height: 104px;
  background-color: black;
}
.Hex3{
  float: left;
  border-left: 30px solid black;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
.Menu{
  display: inline-block;
  cursor: pointer;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.bar1, .bar2, .bar3{
  width: 35px;
  height: 5px;
  background-color: #6930c3;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1{
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2{
  opacity: 0;
}
.change .bar3{
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* Global Styles */

*, *:before, *:after{
  box-sizing: border-box;
}
body, html{
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #252525;
}
.container{
  margin: auto;
  background: #252525;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 90%;
  padding: 20px;
  color: lightgray;
}
h1{
  text-align: center;
  font-size: 5em;
  margin: 10px;
}
h2{
  font-size: 3em;
  margin: 10px;
}
main p{
  line-height: 1.5;
  font-size: 2em;
}
p{
  font-size: 1.5em;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

/* Footer */

footer{
  position: sticky;
  background-color: black;
}

/* About Me */

.underline{
    height: 10px;
    background-color: #6930c3;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.underline2{
  height: 10px;
  background-color: #6930c3;
  width: 30%;
  margin-bottom: 60px;
}
.Photo{
  max-width: 100%;
  height: auto;
  width: 300px;
  margin: 20px;
  float: right;
  margin-bottom: 0;
}

/* Resume */

.Filler{
  height: 40px;
}
.resume *{
  text-align: center;
  font-size: 120%;
}
.resume h2{
  font-size: 2em;
}
.resume h3{
  font-size: 1em;
  margin: 10px;
}
.resume h6{
  font-size: .8em;
  margin: 10px;
  color: #6930c3;
}
.PDF{
  color: lightgray;
  font-size: 1.5em;
}
.PDFDiv{
  border: 10px #6930c3 solid;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  font-size: .4em;
  margin: 5px;
}

/* Fun Facts */

.FunFacts p{
  margin-bottom: 10px;
}

/* Gallery */

figure{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,minmax(200px, 800px));
  width: 80%;
  margin: auto;
}

.Gallery{
  position: relative;
  width: 100%;
}

.img{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
}

.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(155, 155, 155, 0.8);
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0);
  transition: .8s ease;
}

.Gallery:hover .overlay{
  transform: scale(1);
}

.text{
  color: #252525;
  line-height: 1.5;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-justify: inter-word;
  transform: translate(-50%, -50%);
}

/* Responsive */

@media only screen and (max-width: 920px) {

  .PDFDiv{
    margin: 0 auto;
    width: 100%;
  }
  .container{
  }
  body{
    text-align: center;
  }
  main p{
    font-size: 25px;
  }
  header{
    margin-top: 100px;
  }
  .underline2{
    margin: 0 auto;
  }
  .Photo{
    float: none;
  }
  figure{
    margin-top: 20px;
    grid-template-columns: repeat(1, minmax(400px, 800px));
  }
}
