/* Global Styles */

*, *:before, *:after{
  box-sizing: border-box;
}
body, html{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #4B4F4C;
}

.contentContainer{
  display: flex;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
}

.sidebar{
  width: 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll
  /* //-ms-overflow-style: none;
  //scrollbar-width: none; */
}

/* .sidebar::-webkit-scrollbar{
  display: none;
} */

.projects{
  display: flex;
  flex-direction: column;
}

.ProjectFiller{
  height: 0;
}

.ProjectFiller.Expand{
  height: 10vh;
}

.project{
  margin-top: 5vh;;
  width: 13vw;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.project video{
  width: 100%;
  position: relative;
}

.project video.sized{
  width: 50vw;
  height: 50vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 12;
}

.BlackOut{
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  z-index: 11;
}

.BlackOut.active{
  background-color: black;
  opacity: .5;
}

.project .text{
  position: absolute;
  font-size: .6vw;
  background-color: #6930c3;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: 4px 4px 50px -4px rgba(0, 0, 0, 0.8);
  opacity: 0;
  letter-spacing: 0.8px;
  transition: all 400ms ease;
}

.project .text.active{
  opacity: 1;
  letter-spacing: 0;
}

main{
  width: 85%;
  background-color: #6930c3;
  height: auto;
  flex: 1;
}

main .name{
}

main .name p{
  font-size: 3vw;
  margin: 20px;
}

main .name p::after{
  content: "";
  width: 5px;
  height: 5vh;
  background-color: black;
  display: inline-block;
  animation: cursor-blink 1.2s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

h1{
  text-align: center;
  font-size: 4vw;
  margin: 10px;
}
h2{
  font-size: 3vw;
  margin: 10px;
}
h3{
  font-size: 1.5vw;
  font-weight: lighter;
  margin: 5px;
}

/* Footer */

footer{
  background-color: #0E0C0A;
  width: 100%;
  color: #6930c3;

}
.footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  color: lightgray;
}

footer .name p{
  font-size: 2vw;
}

.address{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.address p{
  margin: 3px;
  font-size: 2vw;
  color: #A53F32;
}

.address a{
  margin: 3px;
  font-size: 1vw;
  color: #A53F32;
}

/* Responsive */

@media only screen and (max-width: 920px) {

  .PDFDiv{
    margin: 0 auto;
    width: 100%;
  }
  .container{
  }
  body{
    text-align: center;
  }
  main p{
    font-size: 25px;
  }
  header{
    margin-top: 100px;
  }
  .underline2{
    margin: 0 auto;
  }
  .Photo{
    float: none;
  }
  figure{
    margin-top: 20px;
    grid-template-columns: repeat(1, minmax(400px, 800px));
  }
  .footer, .name, .address{
    flex-direction: column;
    align-items: center;
  }
}
