.Content{
    padding: 20px;
    display: flex;
    gap: 20vw;
}

.Space{
    width: auto;
    height: 15px;
}

.Column1{
    width: 40vw;
}

.Section{
    font-size: 2.2vw;
    font-weight: bold;
    color: #6d0c0c;
    margin: 0;
}

.Title{
    font-size: 1.3vw;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.Date{
    font-size: 1.2vw;
    margin: 8px 0 0 0;
}

li{
    margin: 0 0 10px 0;
    font-size: 1vw;
}

.Extra{
    font-size: 1.1vw;
    font-weight: bolder;
}

.PDFHolder{
    text-align: center;
    margin: 50px 0 0 0;
}

.PDF {
    font-size: 2vw;
    color: #0E0C0A;
}

/* Responsive */

@media only screen and (max-width: 1100px) {
    .Content{

    }

    li{
        text-align: start;
    }
}

