/* SCSS HEX */
$dark-moss-green: #606c38ff;
$pakistan-green: #283618ff;
$cornsilk: #fefae0ff;
$earth-yellow: #dda15eff;
$tigers-eye: #bc6c25ff;

/* SCSS HSL */
$dark-moss-green: hsla(74, 32%, 32%, 1);
$pakistan-green: hsla(88, 38%, 15%, 1);
$cornsilk: hsla(52, 94%, 94%, 1);
$earth-yellow: hsla(32, 65%, 62%, 1);
$tigers-eye: hsla(28, 67%, 44%, 1);

/* SCSS RGB */
$dark-moss-green: rgba(96, 108, 56, 1);
$pakistan-green: rgba(40, 54, 24, 1);
$cornsilk: rgba(254, 250, 224, 1);
$earth-yellow: rgba(221, 161, 94, 1);
$tigers-eye: rgba(188, 108, 37, 1);