.project-container
{
    position: absolute;
    margin-top: 7px;
    display: flex;
    width: 100vw;
}

.project_gap
{
    display: block;
    width: 100%;
    height: 200px;
}

#frame_line_1{
    position: absolute;
    right: 12%;
    top: 20%;
    width: 5px;
    height: 60vw;
    background-color: #bc6c25ff;
    border-radius: 10px;
    z-index: -1;
}

#questions{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: auto;
}

#questions p{
    margin: 0;
    font-size: 1.3vw;
    color: #283618ff;
    text-align: justify;
    line-height: 1.35;
}

.question{
    margin: 10px 0;
}

#intro{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#who_what{
    display: flex;
    flex-direction: column;
}

#headshot{
    margin: auto 0 auto 30px;
    max-width: 20vw;
    max-height: 20vw;
}

#follow-up{
    display: flex;
    flex-direction: row;
}

#when_where_why{
    display: flex;
    flex-direction: column;
}

#FfF{
    max-width: 30vw;
    max-height: 20vw;
    margin: auto 30px auto 0;
}

#why{
    margin-bottom: 30px;
}